bind_addr = "{{ (datasource "data").bind_addr }}"
data_dir = "/etc/nomad/data"

plugin "raw_exec" {
  config {
    enabled = true
  }
}

# Nomad will find the servers through Consul
client {
  enabled = true
}

consul {
  address = "{{ (datasource "data").bind_addr }}:8500"
}

telemetry {
  collection_interval = "15s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}
