bind_addr = "{{ (datasource "data").bind_addr }}"
data_dir = "/etc/nomad/data"

server {
  enabled          = true
  bootstrap_expect = 1
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

consul {
  address = "{{ (datasource "data").bind_addr }}:8500"
}

telemetry {
  collection_interval = "15s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}
